.movie-details {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.foundMovies {
  overflow-y: scroll;
  max-height: 650px;
  margin: 25px;
  width: 500px;
  background-color: #111111d7;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  padding: 30px;
  box-shadow: #000000 0px 0px 50px;
  place-items: center;
  height: 750px;
}

.movie-expandable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #070707;
  overflow: hidden;
  padding: 5px;
  border-radius: 10px;
  height: 40px;
  margin-block: 5px;
  align-items: center;
  width: 400px;
  padding-inline: 10px;
}

.movie-expandable p {
  max-height: 45px;
  overflow-y: auto;
  max-width: 135px;
}

.add-info {
  text-align: left;
  background-color: #070707;
  padding: 10px;
  border-radius: 10px;
}
.add-info p {
  color: rgb(191, 191, 191);
}

.popUp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #070707;
  padding: 25px;
  border-radius: 15px;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.add-movies-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.add-movies-container > input {
  width: 70%;
}
.advanced-search {
  display: flex;
  flex-direction: column;
  height: 250px;
  overflow: hidden;
}

.select-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.select-container select {
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.search-by-box {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.search-by-box input {
  width: 75px;
}

.search-switcher {
  display: flex;
  max-height: 340px;
  background-color: #111111d7;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: #000000 0px 0px 50px;
  padding-top: 10px;
  flex-direction: column;
  gap: 10px;
  width: 275px;
  align-items: center;
}
.advanced-search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.advanced-search-container input {
  accent-color: #141414;
  border: 1px solid rgba(255, 255, 255, 0.213);
  color: #000;
}

.add-actors {
  resize: none;
}

input,
textarea {
  border-radius: 10px;
  border: 1px rgba(255, 255, 255, 0.257) solid;
  margin: 5px;
  background-color: #141414;
  padding-inline: 25px;
  text-align: center;
  padding: 5px;
}

input {
  height: 25px;
}
textarea {
  height: 80px;
}

select {
  height: 30px;
  border-radius: 10px;
  background-color: #141414;
  border: 1px rgba(255, 255, 255, 0.257) solid;
  margin: 5px;
}

.secondary-text {
  font-size: small;
  color: rgb(190, 190, 190);
}
