@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body,
html,
input,
select,
* {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: white;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 300;
  color: #c1c3e9;
  font-size: medium;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100vw;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("./media/movies-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.2;
  z-index: -1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  overflow: hidden;
}

button {
  border-radius: 10px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #070707;
  cursor: pointer;
  transition: border-color 0.25s;
  height: 40px;
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px rgba(255, 255, 255, 0.089) solid;
  overflow: hidden;
}
button:hover {
  border-color: #3d3d3d;
}

.caution {
  background-color: hsl(0, 45%, 9%);
  border: 1px solid hsl(0, 45%, 15%);
}

.caution:hover {
  border: 1px solid hsl(0, 45%, 30%);
}

.website-page {
  display: flex;
  min-height: 100vh;
  overflow-y: hidden;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.auth-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100vw;
  background-image: url("./media/movies-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.auth-col {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow-y: hidden;
}

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsla(0, 0%, 7%, 0.843);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: #000000 0px 0px 50px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
}

.auth-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  padding: 30px;
}
